:root {
    text-align: center;
}

ul {
    list-style-type: none;
}

li a, a:hover, a:visited, a:active {
    border-radius: 50px;
    background-color: dodgerblue;
    color: lemonchiffon;
    font-size: large;
    margin: 15px auto;
    padding: 20px;
    display: block;
    list-style: none;
    width: 50%;
}

.profile-pic {
    width: 20%;
    border-radius: 100px;
}